
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/**
.idea/*

workspace.xml
*.iml
wcs.xml

### Scala ###
*.class
*.log


/iot-pood-mqtt.iml
/iot-pood-storage.iml
